@font-face {
    font-family: 'gotham-Black';
    src: url(/Fonts/Gotham-Font/Gotham-Black.otf);
}
@font-face {
    font-family: 'gotham-Bold';
    src: url(/Fonts/Gotham-Font/GothamBold.ttf);
}
@font-face {
    font-family: 'gotham-Light';
    src: url(/Fonts/Gotham-Font/Gotham-Light.otf);
}
