@font-face {
  font-family: 'gotham-Black';
  src: url(/Fonts/Gotham-Font/Gotham-Black.otf);
}

@font-face {
  font-family: 'gotham-Bold';
  src: url(/Fonts/Gotham-Font/GothamBold.ttf);
}

@font-face {
  font-family: 'gotham-Light';
  src: url(/Fonts/Gotham-Font/Gotham-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'gotham-Bold', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  transition: .2s;
}

html, body {
  height: 100%;
}

#nav-bar {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 28px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar #logo span {
  font-size: 18px;
  margin: 4px 0 0 4px;
}

#nav-bar #menu-itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar #menu-itens #profile {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

#nav-bar #menu-itens #profile .bi-person-fill {
  color: #fff;
  font-size: 22px;
}

#nav-bar #menu-itens #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23px;
  height: 18px;
  margin-left: 10px;
}

#nav-bar #menu-itens #menu .menu-bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

#main-container {
  color: #D83519;
  background-color: #ffcdd2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#main-container h1 {
  margin-top: 220px;
  letter-spacing: -1px;
  line-height: 40px;
  font-size: 34px;
}

#main-container p {
  font-size: 11px;
  font-family: 'gotham-Light';
  max-width: 85%;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 220px;
}

#main-container .btn {
  color: #fff;
  background-color: #D83519;
  padding: 15px 25px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 15px;
  margin: 15px 0;
  font-family: 'gotham-Bold';
}

#main-container .btn:hover {
  opacity: .9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#section-container {
  height: 73vh;
  background-image: url(/img/bg-section.svg);
  background-position: 65% 54%;
  background-size: auto 177%;
  background-color: #2941ab;
  color: #1ed760;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-container #article h2 {
  margin-top: 150px;
  font-size: 28px;
  letter-spacing: -2px;
}

#section-container #article p {
  font-family: gotham-Light;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin: 35px 0 50px;
}

#section-container #article a {
  color: #2941ab;
  background-color: #1ed760;
  padding: 15px 25px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 15px;
  margin: 15px 0;
  font-family: 'gotham-Bold';
}

#section-container #article a:hover {
  opacity: .9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background-color: #000;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
}

footer #footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer-logo .bi-spotify {
  font-size: 28px;
}

footer #footer-logo span {
  font-size: 18px;
  margin: 4px 0 0 4px;
}

footer .footer-itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px !important;
  margin: auto auto;
  text-align: center;
}

footer .footer-itens a {
  color: #fff;
  font-family: 'gotham-Light';
  font-weight: 900;
  margin: 15px 0;
}

footer .footer-itens a:hover {
  color: #1ed760;
}

footer .footer-itens .header-itens {
  color: #919496;
  text-transform: uppercase;
  font-weight: bold;
}

footer #footer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer-footer .social-itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #919496;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 30px;
  margin-top: 15px;
}

footer #footer-footer .social-itens:hover {
  color: #1ed760;
}
/*# sourceMappingURL=style.css.map */